<h1>Bienvenidos a mi proyecto</h1>

<form action="/views/subirarch" method="POST" enctype="multipart/form-data">

    <input type="file" name="file" placeholder="Suba un Archivo">
    <button>Enviar</button>

</form>